In [2]:
#importing pandas and pathlib
import pandas as pd
from pathlib import Path

In [4]:
#declaring path to csv doc
csvpath = Path("Resources/budget_data.csv")

In [5]:
#createing datafrom to hold data from csv
financials_df = pd.read_csv(csvpath)

In [6]:
#checking contents of dataframe
financials_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [7]:
#cleaning the column names
financials_df.columns=('date', 'pnl')
#running command to get details of dataframe
financials_df.describe(include='all')

            date           pnl
count         86  8.600000e+01
unique        86           NaN
top     Jan-2010           NaN
freq           1           NaN
mean         NaN  4.463090e+05
std          NaN  5.363579e+05
min          NaN -1.196225e+06
25%          NaN  1.821620e+05
50%          NaN  5.703280e+05
75%          NaN  7.952262e+05
max          NaN  1.170593e+06

In [8]:
#* The total number of months included in the dataset.
#from statistics import mean
#comands to get data from df. total, balance, changes, average
total = len(financials_df)
balance = financials_df.pnl.sum()
financials_df['difference'] = financials_df['pnl'].diff()
average_change = financials_df['difference'].mean()
average_change = round(average_change, 2)

#I'm fairly certain the increase and decrease should be written with an iloc or loc statment. but I can't figure it out. 
greatest_increase_profits = financials_df['difference'].max()
greatest_decrease_profits = financials_df["difference"].min()

#print statements to display data
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total}")
print(f"Total: ${balance}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: ${greatest_increase_profits}")
print(f"Greatest Decrease in Profits: ${greatest_decrease_profits}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: $1926159.0
Greatest Decrease in Profits: $-2196167.0

In [9]:
#Export analysis to text file
with open('final_results.txt', 'w') as txt_file:
    txt_file.write(f"Financial Analysis")
    txt_file.write("\n")
    txt_file.write(f"------------------------------")
    txt_file.write("\n")
    txt_file.write(f"Total Months: {total}")
    txt_file.write("\n")
    txt_file.write(f"Total Profit/Loss: ${balance}")
    txt_file.write("\n")
    txt_file.write(f"Average Change: ${average_change}")
    txt_file.write("\n")
    txt_file.write(f"Greatest Increase in Profits: ${greatest_increase_profits}")
    txt_file.write("\n")
    txt_file.write(f"Greratest Decrease in Profits: ${greatest_decrease_profits}")